<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.monitor.mapper.TabAlarmContactsMapper">
    <resultMap id="BaseResultMap" type="com.all580.monitor.entity.TabAlarmContacts">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="ding" jdbcType="VARCHAR" property="ding"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
    </resultMap>
    <!-- 通过组ID查询联系人列表 -->
    <select id="listByGroup" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT ac.* FROM tab_alarm_contacts_relation acr
        JOIN tab_alarm_contacts ac ON acr.contacts_id=ac.id
        WHERE acr.group_id = #{groupId}
    </select>
</mapper>