<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.monitor.mapper.TabAppVersionMapper">
    <resultMap id="BaseResultMap" type="com.all580.monitor.entity.TabAppVersion">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="resource_id" jdbcType="INTEGER" property="resourceId"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="search" resultType="java.util.Map">
        SELECT
            ta.`name` app_name,
            tav.version,
            tr.md5,
            tr.`name`,
            tr.size,
            tr.suffix,
            tr.path,
            tav.create_time
        FROM
            tab_app_version tav
            JOIN tab_app ta ON ta.id = tav.app_id
            LEFT JOIN tab_resources tr ON tr.id = tav.resource_id
        <if test="spot != null">
            AND ta.spot_id = #{spot}
        </if>
        <if test="app != null">
            AND ta.id = #{app}
        </if>
        <if test="version != null">
            AND tav.`version` like concat(#{version}, '%')
        </if>
        order by tav.create_time desc
    </select>
</mapper>
