<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.monitor.mapper.TabAlarmContactsMapper">
    <resultMap id="BaseResultMap" type="com.all580.monitor.entity.TabAlarmContacts">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="ding" jdbcType="VARCHAR" property="ding"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
    </resultMap>
    <select id="search" resultMap="BaseResultMap">
        select tac.* from tab_alarm_contacts tac
        <if test="groupId != null">
            join tab_alarm_contacts_relation tacr on tacr.contacts_id = tac.id
        </if>
        where 1=1
        <if test="groupId != null">
            and tacr.group_id = #{groupId}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
              `name` like concat('%', #{keyword}, '%') or
              `email` like concat('%', #{keyword}, '%') or
              `ding` like concat('%', #{keyword}, '%') or
              `openid` like concat('%', #{keyword}, '%')
            )
        </if>
    </select>
</mapper>