<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.monitor.mapper.TabHttpMonitorMapper">
    <resultMap id="BaseResultMap" type="com.all580.monitor.entity.TabHttpMonitor">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="cookie" jdbcType="VARCHAR" property="cookie"/>
        <result column="header" jdbcType="VARCHAR" property="header"/>
        <result column="basic_auth" jdbcType="VARCHAR" property="basicAuth"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="alarm_rule_id" jdbcType="INTEGER" property="alarmRuleId"/>
    </resultMap>
    <select id="search" resultType="map">
        SELECT
            ts.`name` spot_name,
            ta.`name` app_name,
            tah.`status` last_status,
            thm.*,
            tar.script rule_script,
            tar.nodata,
            tar.count,
            tar.interval,
            tar.silence_interval,
            tar.alarm_callback,
            tar.alarm_group_id
        FROM
            tab_http_monitor thm
            LEFT JOIN tab_alarm_rule tar ON tar.id = thm.alarm_rule_id
            LEFT JOIN tab_alarm_history tah ON tah.id = tar.last_history
            LEFT JOIN tab_app ta ON ta.id = tar.app_id
            LEFT JOIN tab_spot ts ON ts.id = ta.spot_id
        where 1=1
        <if test="spot != null">
            AND ts.id = #{spot}
        </if>
        <if test="app != null">
            AND ta.id = #{app}
        </if>
        <if test="name != null">
            AND thm.`name` like concat('%', #{name}, '%')
        </if>
        <if test="alarm != null">
            AND tah.status in(1, 2)
        </if>
        <if test="status != null">
            AND thm.status = #{status}
        </if>
    </select>
</mapper>
